<a class="content_over_link" href="<%= picture_path(picture) %>">
  <div class="content">
    <div class="content__image">
      <img src="<%= picture.image %>" alt="<%= picture.title %>" width="330px" height="210px">
    </div>
    <hr width="300" size="1" color="#fff">
    <div class="content__title"><%= picture.title %></div>
    <p class="content__detail"><%= picture.detail %></p>
    <div class="content__user">
      <div class="content__user__name">テストユーザー</div>
    </div>
  </div>
</a>