<!DOCTYPE html>
<html>
  <head>
    <title>DrawPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <form>
        <input type="text" name="search" placeholder="  検索する" class="header__search">
      </form>
      <%= link_to root_path, {class: "header__link"} do %>
        <h1>Pick-Space</h1>
      <% end %>
      <div class="header__right">
        <div id="user_name" class="header__right__user">Name</div>
        <%= link_to '新規登録', new_user_registration_path, {class: "header__right__link"} unless user_signed_in? %>
        <%= link_to 'ログイン', new_user_session_path, {class: "header__right__link"} unless user_signed_in? %>
        <%= link_to '新規投稿', new_picture_path, {class: "header__right__link"} if user_signed_in? %>
      </div>
      <div id="my_config_box" class="my_config_box">
        <%= link_to 'ログアウト', destroy_user_session_path, {class: "my_config"} %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
